<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!--XML Mapper에서 사용중인 클래스의 별칭  -->
	<!-- <typeAliases>
		<typeAlias type="com.test.project.model.UserDTO" alias="udto" />	
		<typeAlias type="com.test.project.model.BoardDTO" alias="bdto" />	
	</typeAliases>
 -->
 	<typeAliases>
 		<typeAlias type="com.project.trip.allplace.model.KeywordLinkDTO" alias="kldto"/>
 		<typeAlias type="com.project.trip.allplace.model.PlaceDTO" alias="pdto"/>
 		<typeAlias type="com.project.trip.allplace.model.TouristSpotDTO" alias="tsdto"/>
 		<typeAlias type="com.project.trip.board.review.model.ReviewDTO" alias="rdto"/>
 	</typeAliases>
 
</configuration>