<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!--XML Mapper에서 사용중인 클래스의 별칭  -->
	<!-- <typeAliases>
		<typeAlias type="com.test.project.model.UserDTO" alias="udto" />	
		<typeAlias type="com.test.project.model.BoardDTO" alias="bdto" />	
	</typeAliases>
 -->
 	<typeAliases>
 		<typeAlias type="com.project.trip.allplace.model.KeywordLinkDTO" alias="keywordlinkdto"/>
 		<typeAlias type="com.project.trip.allplace.model.PlaceDTO" alias="placedto"/>
 		<typeAlias type="com.project.trip.allplace.model.TouristSpotDTO" alias="touristspotdto"/>
 		<typeAlias type="com.project.trip.board.review.model.ReviewDTO" alias="reviewdto"/>
 		<typeAlias type="com.project.trip.reservation.model.AccomReservationDTO" alias="accomreservationdto" />
 		<typeAlias type="com.project.trip.reservation.model.ReservationDTO" alias="reservationdto" />
 		<typeAlias type="com.project.trip.reservation.model.CarReservationDTO" alias="carreservationdto" />
 	</typeAliases>
 
</configuration>