<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.trip.board.notice.mapper.NoticeMapper">

	<resultMap id="noticeResultMap" type="noticedto" >
		<id property="noticePostId" column="notice_post_id"/>
		<result property="adminId" column="admin_id"/>
		<result property="noticeHeader" column="notice_header"/>
		<result property="noticeContent" column="notice_content"/>
		<result property="noticeViewCount" column="notice_view_count"/>
		<result property="noticeRegdate" column="notice_regdate"/>
	</resultMap>
	
	<select id="findAll" resultMap="noticeResultMap">
		select 
			notice_post_id,
			notice_header, 
			admin_id, 
			notice_regdate, 
			notice_view_count
		from tblNoticepost
			order by notice_post_id DESC
	</select>
	
	<select id="findById" parameterType="long" resultMap="noticeResultMap">
		select
			notice_post_id,
			notice_header, 
			admin_id, 
			notice_regdate, 
			notice_view_count
		from tblNoticepost
			where notice_post_id = #{noticePostId}
	</select>
	
	<update id="incrementViewCount" parameterType="long">
		update tblNoticePost
			set notice_view_count = notice_view_count + 1
				where notice_post_id = #{noticePostId}
	</update>
	
	<insert id="insert" parameterType="noticedto">
		insert into tblNoticePost (
			notice_post_id, admin_id, notice_header, notice_content, 
			notice_view_count, notice_regdate
			)
		values (
			seq_tblNoticePost.nextVal,
			#{adminId}, #{noticeHeader}, #{noticeContent}, 0 ,sysdate)
	</insert>
	
	<update id="update" parameterType="noticedto">
		update tblNoticePost
			set
				notice_header = #{noticeHeader},
				notice_content = #{noticeContent}
			where
				notice_post_id = #{noticePostId}
	</update>
	
	<delete id="delete" parameterType="long">
		delete from tblNoticePost
			where notice_post_id = #{noticePostId}
	</delete>
	</mapper>
